<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="utf-8" />
  <title>Flybull飞牛承包商建筑执照考试培训</title>
  <meta name="description"
    content="Flybull飞牛是一个为加利福尼亚州承包商执照考试（CSLB）量身定制的专业学习平台。我们提供中英双语教学，帮助学员更好地掌握考试所需的专业知识。无论你是从零开始学习技术，还是需要提高英语词汇，飞牛都能为你提供系统的指导。通过我们的课程，你可以循序渐进地掌握必要的技能，轻松应对CSLB执照考试，迈向职业成功！" />
  <meta name="keywords"
    content="加州, CSLB, 承包商, 建筑, 执照, 考试, 培训, 学校, 在线, 学习, 网课, 加州承包商, 建筑执照, 执照考试, 建筑执照考试, CSLB考试, CSLB建筑考试, 建筑执照培训, 执照考试在线学习, 建筑执照在线学习, 建筑执照考试在线学习, 承包商在线学习, 执照学习, 执照考试在线学校, 承包商在线学校, 执照学校, 执照培训, 执照培训学校, CSLB考试培训, 承包商培训, 执照考试培训, 飞牛CSLB, CSLB备考, 加州承包商执照, CSLB考试准备, 加州承包商执照培训, 加州执照在线学习, CSLB在线学习, 中英双语CSLB, CSLB英文词汇, CSLB专业知识, 承包商执照考试, 承包商执照备考, 加州执照备考平台, CSLB双语课程, CSLB在线辅导, 加州执照考试技巧, CSLB系统学习, 加州承包商备考, CSLB在线教育, 职业考试准备, CSLB自学课程, 在线执照考试准备, 加州承包商考试, 职业成功CSLB" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="./assets/favicon.ico" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
  <link rel="stylesheet" href="./styles/main.css" />
  <link rel="stylesheet" href="./styles/responsive.css" />
</head>

<body>
  <header>
    <div id="header-container" class="container">
      <img draggable="false" id="logo-img" src="./assets/logo.png" alt="logo" />
      <nav>
        <button type="button" class="nav-btn" onclick="toHome()">主页</button>
        <button type="button" class="nav-btn news-elements" onclick="location.href='#news-anchor'">
          动态
        </button>
        <button type="button" class="nav-btn" onclick="location.href='#course-anchor'">
          课程
        </button>
        <button type="button" class="nav-btn" onclick="location.href='#book-anchor'">
          教材
        </button>
        <button type="button" class="nav-btn" onclick="location.href='#exam-anchor'">
          试题
        </button>
        <button type="button" class="nav-btn" onclick="location.href='#vocabulary-anchor'">
          词汇
        </button>
        <button type="button" class="nav-btn" onclick="location.href='#service-anchor'">
          服务
        </button>
      </nav>
      <div id="header-right-container">
        <div id="mobile-header-text">执照考试培训</div>
        <!-- <button type="button" class="btn btn-light">中 / EN</button> -->
        <button type="button" class="btn btn-warning" onclick="location.href='#downloads-anchor'">
          下载
        </button>
      </div>
    </div>
  </header>

  <section id="banner">
    <div id="banner-container" class="container">
      <section id="banner-left" class="banner-sections">
        <div id="banner-text">
          <h2 class="display-6">为梦想插翅，为生涯护航!</h2>
          <br />
          <p>
            Flybull飞牛是一个为加利福尼亚州承包商执照考试（CSLB）量身定制的专业学习平台。我们提供中英双语教学，帮助学员更好地掌握考试所需的专业知识。无论你是从零开始学习技术，还是需要提高英语词汇，飞牛都能为你提供系统的指导。通过我们的课程，你可以循序渐进地掌握必要的技能，轻松应对CSLB执照考试，迈向职业成功！
          </p>
          <br />
          <!-- <button type="button" class="btn btn-dark btn-lg">Download</button> -->
        </div>
        <a id="downloads-anchor"></a>
      </section>
    </div>
  </section>

  <div id="alert" style="display: none"></div>

  <div id="banner-text-mobile">
    <h2 class="display-6">为梦想插翅，为生涯护航!</h2>
    <br />
    <p>
      Flybull飞牛是一个为加利福尼亚州承包商执照考试（CSLB）量身定制的专业学习平台。我们提供中英双语教学，帮助学员更好地掌握考试所需的专业知识。无论你是从零开始学习技术，还是需要提高英语词汇，飞牛都能为你提供系统的指导。通过我们的课程，你可以循序渐进地掌握必要的技能，轻松应对CSLB执照考试，迈向职业成功！
    </p>
    <br />
    <!-- <button type="button" class="btn btn-dark btn-lg">Download</button> -->
  </div>

  <section id="downloads-section" class="container margin-block">
    <h2 class="display-6 text-center fw-light">下载客户端</h2>
    <div class="fs-4 text-center fw-light text-secondary">
      多功能一体式在线学习平台。主讲加州各类承包商执照考试!
    </div>
    <div class="downloads-title">
      <div class="platform-download">
        <i class="platform-icon bi bi-microsoft"></i>
        <div>
          <button type="button" class="btn btn-link"
            onclick="window.open('https://github.com/flybulldev/flybull/releases/download/v1.0.0/Flybull-1.0.0.Setup.exe','_blank')">
            下载
          </button>
        </div>
        <!-- <div><button type="button" class="btn btn-link disabled">Microsoft Store</button></div> -->
      </div>
      <div class="platform-download">
        <i class="platform-icon bi bi-apple"></i>
        <div>
          <button type="button" class="btn btn-link"
            onclick="window.open('https://github.com/flybulldev/flybull/releases/download/v1.0.0/Flybull-1.0.0-universal.dmg', '_blank')">
            下载
          </button>
        </div>
        <!-- <div><button type="button" class="btn btn-link">App Store</button></div> -->
      </div>
      <!-- <div class="platform-download">
          <i class="platform-icon bi bi-android2"></i>
          <div><button type="button" class="btn btn-link">Join Testing</button></div>
          <div><button type="button" class="btn btn-link disabled">Play Store</button></div>
        </div> -->
    </div>
    <div id="downloads-mobile" class="mobile-only">
      使用电脑访问此网站来下载客户端
    </div>
    <a id="news-anchor"></a>
  </section>

  <section id="news-section" class="container margin-section news-elements">
    <h2 class="display-6 text-center fw-light">最新动态</h2>
    <div id="news" class="margin-row">
      <div class="list-group">
        <a class="list-group-item list-group-item-action" v-for="n in news" :href="`./news.html?id=${n.id}`"><span
            class="news-title d-inline-block text-truncate">{{ n.title }}</span><span
            class="float-end news-date">{{n.date}}</span></a>
        <a class="list-group-item list-group-item-action" href="./news.html"><span
            class="news-title d-inline-block text-truncate">查看更多...</span></a>
      </div>
    </div>
  </section>

  <section id="faq-section" class="container margin-section">
    <h2 class="display-6 text-center fw-light">常见问题</h2>
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            为什么要考建筑执照？
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">在加州，从事建筑相关工作并签订超过500美元的合同时，必须考取建筑执照。这是法律的明确要求，也是保障公众利益的重要手段。拥有执照的承包商不仅经过严格的背景审查和专业考试，具备必要的技术和法律知识，还能在遇到工程纠纷时依法追讨工程款。没有执照的施工行为可能导致高额罚款、法律诉讼，甚至无法收回工钱。此外，执照也是客户信任的象征，能提升业务竞争力，确保项目符合加州的安全和质量标准。因此，考取执照是合法经营和职业发展的必经之路。</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            谁有资格申请和考试建筑执照？
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">在加州，申请建筑执照应该具备至少4年的相关全职工作经验，并由雇主或专业人士出具证明。这些经验必须与所申请的执照分类相关，如担任承包商、工程师或熟练工等职位。此外，申请人需要通过两项考试——法律与商业知识以及专业领域测试，并满足财务能力、担保或保险要求，同时无重大法律问题。符合条件后即可向建筑承包商州立委员会（CSLB）提交申请并参加考试。</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            考试建筑执照有哪些要求的条件？
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">申请加州建筑执照的人员必须年满18岁，符合法定年龄要求；同时需具备合法的身份和在美国工作的资格，并拥有有效的社会安全号（SSN）或个人纳税识别号（ITIN）以满足税务要求。此外，申请人需要具有完全的民事行为能力，能够独立承担法律责任并履行执照相关义务。</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseThree">
            哪种类型执照适合我？
          </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">如果您的工作经验仅涉及某一单一类别的项目，例如电工、管道工或其他专业领域，那么C类执照最为合适，因为它专注于特定的技术领域。如果您计划承接并经营综合性建筑项目，如住宅或商业建筑，涉及多个工种的施工，B类执照将是最佳选择，因为它适用于综合性项目的管理。如果您要参与一些大型项目或公共工程，如基础设施建设、道路或桥梁建设等，A类执照则最为适合，它专注于大型工程项目的承接和管理。</div>
        </div>
      </div>
            <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFifthly" aria-expanded="false" aria-controls="flush-collapseThree">
          B类建筑执照和C类建筑执照有什么区别？
          </button>
        </h2>
        <div id="flush-collapseFifthly" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">C类执照相对于B类执照来说，具有更高的专业性和权威性。持有C类执照的承包商在某一特定技术领域具备深厚的专业知识和技能，可以进行精确的计算和评估。例如，电工持有C-10执照，可以计算电路的功率是否足够满足需求，确保电气系统安全可靠；
          <br>
          <br/>
          管道工持有C-36执照，可以计算下水管道的排水能力是否符合规范，避免系统故障；暖通空调（HVAC）工程师持有C-20执照，可以计算空调管道的风力是否足够，以保证空调系统的效率和性能。这些计算和评估要求专业知识，C类执照赋予持证人足够的技术权威。相对而言，B类执照主要适用于承接和管理综合性建筑项目，负责协调多个专业工种，但并不要求具备某一特定领域的深度技术知识。因此，B类执照的持有者不能像C类执照的持有者那样，进行复杂的技术计算和评估，因此在某些专业项目中缺乏权威性。</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSixthly" aria-expanded="false" aria-controls="flush-collapseThree">
          C照和B照相比有哪些优越性？
          </button>
        </h2>
        <div id="flush-collapseSixthly" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">与B类执照相比，C类执照在专业性和技术权威性上具有明显优越性。持有C类执照的承包商专注于某一特定领域，如电气、管道或空调等，具备进行精确技术计算的能力，比如计算电路功率、评估管道排水能力或空调风力是否符合要求，这使得他们在执行专业项目时具有更高的技术权威。而B类执照更多侧重于管理综合性建筑项目，虽然可以协调多个工种，但缺乏对具体技术问题的深入理解和独立解决能力。因此，C类执照承包商在市场上通常拥有更强的竞争力，尤其是在需要专业技术的项目中。</div>
        </div>
      </div>
      <div id="faq-more-btn" style="text-align: center;"><button type="button" class="btn btn-link" onclick="showMoreFAQ()">显示更多</button></div>
      <section id="faq-hidden">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeventh" aria-expanded="false" aria-controls="flush-collapseThree">
            为什么市政府的Builder's Department经常要求有C类执照签字才可以签发Permit？
            </button>
          </h2>
          <div id="flush-collapseSeventh" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">市政府的Builder's Department经常要求持有C类执照的专业承包商签字，才能签发施工许可证，是因为C类执照承包商具备特定领域的专业技术和认证，能够确保项目在设计和施工过程中符合严格的行业标准和安全规范。特别是在涉及电气、管道、空调等技术性强的项目时，C类承包商拥有必要的资质进行技术计算、设计和评估，确保工程的安全性和合规性。
            <br>
            <br/>
            市政府要求C类执照承包商签字，主要是为了确保施工过程中的技术细节符合规定，避免因设计或施工不当而导致的安全隐患或合规问题。例如，在电力系统的设计和施工中，只有持有C-10电工执照的电工才能确保电气负荷计算、线路布置等方面符合标准，避免潜在的电气故障或火灾风险。因此，市政府需要这些专业承包商的签字来验证项目的技术合规性，确保工程安全、顺利进行。</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEighth" aria-expanded="false" aria-controls="flush-collapseThree">
            我刚来美国可以申请建筑执照吗？
            </button>
          </h2>
          <div id="flush-collapseEighth" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">即使您刚来到美国，您也可以申请建筑执照。美国政府鼓励外国人合法开设公司，您可以在美国注册并运营公司，通过公司申请建筑执照。特别是在加州，建筑局（CSLB）接受来自其他州和国外的相关工作经验，这意味着即使您没有在美国的工作经验，只要您的工作经历符合加州的要求，您也可以用其他地方的经验来申请执照。此外，您可以通过合法注册公司，满足相关条件并通过必要的考试，申请到您所需的建筑执照。因此，虽然没有工作身份的情况下无法直接雇佣自己，但通过合法的公司注册，您依然可以以公司名义申请并获得建筑执照。</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNinth" aria-expanded="false" aria-controls="flush-collapseThree">
            我一定要成立公司才可以申请建筑执照吗？
            </button>
          </h2>
          <div id="flush-collapseNinth" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">您不一定需要先注册公司，个人也可以直接申请。加州建筑局（CSLB）允许个人以自己的名字作为承包商经营业务，只要满足相应的条件。您需要具备一定的工作经验（通常为4至5年），并通过相关的考试，证明您具备足够的专业知识和技能来承担建筑项目。此外，您需要提供合法的身份和税务号码（如SSN或ITIN）。如果您没有合法的工作身份，您仍然可以通过成立公司来申请建筑执照。在这种情况下，您的公司会承担执照的责任，您可以作为公司代表申请并获得执照。无论是以个人名义还是通过公司，您都可以在美国合法申请建筑执照，只要满足加州的相关要求。</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTenth" aria-expanded="false" aria-controls="flush-collapseThree">
            考试哪些内容和时长？
            </button>
          </h2>
          <div id="flush-collapseTenth" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">加州建筑执照考试包括两个部分：业务与法律考试和专业技术知识考试。每个部分的考试时长为210分钟（即3小时30分钟），并且考试通过计算机进行。考试地点是在加州建筑局（CSLB）授权的第三方考场PSI进行。业务与法律考试主要测试建筑业务相关的法律和商业知识，如公司管理、合同、保险、税务和劳工法等，考试题目大约为115到120道。专业技术知识考试则侧重于您在特定建筑领域的技术能力，题目同样为115到120道，涵盖施工技术、建筑规范和材料使用等内容。考生可以通过加州建筑局提供的参考资料和市面上的备考课程进行复习，顺利通过两部分考试后，您将获得加州建筑执照，合法承接建筑项目。</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEleventh" aria-expanded="false" aria-controls="flush-collapseThree">
            考场提供多语言考试吗？
            </button>
          </h2>
          <div id="flush-collapseEleventh" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">目前，加州建筑执照考试考场（PSI）提供多种语言的考试选项，包括西班牙语、越南语等，但目前并没有中文考试。如果您的英文水平有限，您可以自行带一位翻译人员协助您参加考试。根据加州建筑局（CSLB）的规定，翻译人员必须是非亲属、非公司工作人员，并且只能提供语言翻译的服务，不能协助解答考试内容。在报名时，建议您提前确认PSI提供的具体语言选项，并确保您的翻译人员符合相关要求。</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEwelfth" aria-expanded="false" aria-controls="flush-collapseThree">
            如何报名学习具体有哪些流程？
            </button>
          </h2>
          <div id="flush-collapseEwelfth" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">报名申请飞牛建筑执照培训的流程非常简便且高效。首先，学员需要下载飞牛建筑执照培训的App并注册账户，创建个人学习档案。学员根据自己的需求选择合适的课程，飞牛提供包括A、B、C类执照在内的多种培训课程，涵盖全面的建筑知识。选定课程后，学员签署服务合同并完成缴费，支付方式灵活便捷。一旦缴费完成，学员即可开始学习，飞牛提供教材、线上课程、线上练习题和模拟考试（可选项），帮助学员充分备考，熟悉考试内容和形式。
            <br>
            <br/>
            在学习过程中，飞牛将为学员提供考试申请和考试预约服务，确保学员顺利报名并安排考试时间。通过飞牛的模拟考试，学员能够更加熟悉CSLB考试的题型和难度，从而提高考试通过率。考试通过后，学员将获得加州建筑执照，正式成为合格的建筑承包商。整个流程由飞牛建筑全程支持，确保学员顺利完成学习、考试，顺利获得建筑执照。</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse13" aria-expanded="false" aria-controls="flush-collapse13">
            加州C类承包商执照 (C-License) 有哪些？
            </button>
          </h2>
          <div id="flush-collapse13" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <div>
                <strong>建筑与结构相关：</strong>
              </div>
              <ul>
                <li>C-2 - 隔墙与天花板（Insulation and Acoustical Contractor）</li>
                <li>C-5 - 木工与粗加工（Framing and Rough Carpentry Contractor）</li>
                <li>C-6 - 瓷砖和马赛克（Cabinet, Millwork and Finish Carpentry Contractor）</li>
                <li>C-7 - 低电压系统（Low Voltage Systems Contractor）</li>
                <li>C-8 - 混凝土工程（Concrete Contractor）</li>
                <li>C-9 - 干墙安装（Drywall Contractor）</li>
                <li>C-10 - 电工（Electrical Contractor）</li>
                <li>C-11 - 电梯安装（Elevator Contractor）</li>
                <li>C-12 - 土地平整和排水（Earthwork and Paving Contractor）</li>
                <li>C-13 - 篱笆安装（Fencing Contractor）</li>
                <li>C-15 - 地板与地毯（Flooring and Floor Covering Contractor）</li>
                <li>C-16 - 消防系统（Fire Protection Contractor）</li>
                <li>C-17 - 玻璃和镜子（Glazing Contractor）</li>
                <li>C-20 - 暖通空调（Warm-Air Heating, Ventilating and Air-Conditioning Contractor）</li>
                <li>C-21 - 建筑搬迁/拆除（Building Moving/Demolition Contractor）</li>
              </ul>
              
              <div>
                <strong>外部建筑和装饰：</strong>
              </div>
              <ul>
                <li>C-23 - 装饰品和装饰（Ornamental Metal Contractor）</li>
                <li>C-27 - 景观（Landscaping Contractor）</li>
                <li>C-28 - 冷藏库（Lock and Security Equipment Contractor）</li>
                <li>C-29 - 钣金工程（Masonry Contractor）</li>
                <li>C-31 - 水管铺设（Construction Zone Traffic Control Contractor）</li>
                <li>C-32 - 地毯安装（Parking and Highway Improvement Contractor）</li>
                <li>C-33 - 油漆和装饰（Painting and Decorating Contractor）</li>
                <li>C-34 - 管道安装（Pipeline Contractor）</li>
                <li>C-35 - 石膏（Plastering Contractor）</li>
                <li>C-36 - 管道工程（Plumbing Contractor）</li>
                <li>C-37 - 游泳池（Swimming Pool Contractor）</li>
                <li>C-38 - 制冷（Refrigeration Contractor）</li>
                <li>C-39 - 屋顶（Roofing Contractor）</li>
              </ul>
              
              <div>
                <strong>特殊系统和设备：</strong>
              </div>
              <ul>
                <li>C-42 - 排水与卫生设备（Sanitation Systems Contractor）</li>
                <li>C-43 - 钣金（Sheet Metal Contractor）</li>
                <li>C-45 - 标牌工程（Sign Contractor）</li>
                <li>C-46 - 太阳能（Solar Contractor）</li>
                <li>C-50 - 钢筋工程（Steel, Reinforcing Contractor）</li>
                <li>C-51 - 结构钢材（Structural Steel Contractor）</li>
                <li>C-53 - 泳池工程（Swimming Pool Contractor）</li>
                <li>C-54 - 瓷砖（Tile Contractor）</li>
                <li>C-55 - 水井钻探（Water Well Drilling Contractor）</li>
                <li>C-57 - 供水（Well Drilling Contractor）</li>
                <li>C-60 - 焊接工程（Welding Contractor）</li>
                <li>C-61 - 附加许可（Limited Specialty Contractor，细分为多种小类）</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
    <a id="course-anchor"></a>
  </section>

  <section id="course-section" class="margin-section container">
    <h1 class="display-6 text-center fw-light">飞牛云课堂</h1>
    <div class="fs-4 text-center fw-light text-secondary">
      中文教学，从新手到专家！另有施工现场讲解。随时随地开始学习！
    </div>
    <div id="classroom" class="margin-block">
      <div>
        <div class="course-titles">法律与商业（必修课）</div>
        <div class="course-titles">C-10 电工</div>
        <div class="course-titles">C-20 暖通空调</div>
        <div class="course-titles">C-36 水管工</div>
        <div class="course-titles">B类普通承包商</div>
        <div class="course-titles">A类综合工程</div>
      </div>
      <div>
        <div class="course-titles">C-46太阳能</div>
        <div class="course-titles">C-33油漆</div>
        <div class="course-titles">健康与安全加强班（选修课）</div>
        <div class="course-titles">测量与计算（选修课）</div>
      </div>
      <div>
        <img draggable="false" alt="class" src="./assets/class1.png" width="230px" />
        <br />
        <img draggable="false" alt="class" src="./assets/class2.png" width="230px" />
      </div>
    </div>
    <div class="margin-block fs-5">
      <a id="book-anchor"></a>
    </div>
  </section>

  <section id="book-section" class="margin-section container">
    <h2 class="display-6 text-center fw-light">独家教材</h2>
    <div class="fs-4 text-center fw-light text-secondary">
      中英双语独家自编教材。专业知识，随时翻阅！
    </div>
    <div id="book" class="left-and-right">
      <div id="book-cover-nav-container" class="sub-container">
        <img class="book-cover-nav-img" v-for="(bookCover, index) in bookCovers" :alt="bookCover"
          :src="`./assets/${bookCover}`" @click="currentIndex = index" />
      </div>
      <div id="book-cover-container" class="sub-container">
        <div id="book-covers" v-if="bookCovers !== null">
          <img draggable="false" :src="`./assets/${bookCovers[currentIndex]}`" class="img-thumbnail" alt="book cover" />
        </div>
        <div class="btn-group margin-row" v-if="bookCovers !== null" role="group" aria-label="Basic outlined example">
          <button type="button" :class="`btn ${currentIndex === 0 ? 'btn-outline-secondary' : 'btn-outline-warning'}`"
            :disabled="currentIndex === 0" @click="previous()">
            &lt;
          </button>
          <button type="button" class="btn btn-outline-secondary disabled">
            -
          </button>
          <button type="button"
            :class="`btn ${currentIndex === bookCovers.length - 1 ? 'btn-outline-secondary' : 'btn-outline-warning'}`"
            :disabled="currentIndex === bookCovers.length - 1" @click="next()">
            &gt;
          </button>
        </div>
        <a id="exam-anchor"></a>
      </div>
    </div>
  </section>

  <section id="exam-section" class="container margin-section">
    <h2 class="display-6 text-center fw-light">试题学习</h2>
    <div class="fs-4 text-center fw-light text-secondary">
      双语题库，随时切换，每个题库都有上百道题！学习模式和考试模式双重巩固记忆！
    </div>
    <div id="exam" class="exam-intro margin-block">
      <div class="exam-container">
        <div class="question-nums">
          <div :class="`question-num-box ${index === currentIndex ? 'question-current-box ' : ''}`"
            v-for="(question, index) in questions" :key="index" @click="goToQuestion(index)">
            <div v-if="flaggedQuestions.includes(index)"
              :class="`question-num-inner ${getQuestionNumIndicator(index)}`">
              <i class="bi bi-bookmark-fill text-warning"></i>
            </div>
            <div v-else :class="`question-num-inner ${getQuestionNumIndicator(index)}`">
              {{index+1}}
            </div>
          </div>
        </div>
        <div class="question-panel">
          <div class="fs-5">
            {{`${ currentIndex+1 }. ${ translate ?
            translations[currentIndex].question :
            questions[currentIndex].question }` }}
          </div>
          <div v-if="questions[currentIndex].image">
            <img draggable="false" width="75%" alt="question image"
              :src="`./assets/${questions[currentIndex].image}.png`" />
          </div>
          <div class="question-option form-check fs-5" v-for="(option, index) in questions[currentIndex].options"
            :key="index">
            <input placeholder="_" class="form-check-input" type="radio" name="flexRadioDefault"
              :id="`flexRadio${index}`" :checked="selectedOptions[currentIndex] === index"
              @click="selectOption(index)" />
            <label :class="`form-check-label ${ getAnswerIndicator(index) }`" :for="`flexRadio${index}`">
              {{ translate ? translations[currentIndex].options[index] :
              option }}
            </label>
          </div>
        </div>
        <div class="question-btns text-center">
          <div class="btn-group-vertical" role="group" aria-label="Basic radio toggle Vertical button group">
            <input type="radio" class="btn-check" name="btnradio" id="study" autocomplete="off"
              @click="changeMode()" :checked="studyMode" />
            <label class="btn btn-outline-warning" for="study">学习模式</label>

            <input type="radio" class="btn-check" name="btnradio" id="test" autocomplete="off"
              @click="changeMode()" :checked="!studyMode" />
            <label class="btn btn-outline-warning" for="test">考试模式</label>
          </div>
          <div class="margin-row" v-if="studyMode">
            <div class="text-success">绿色 = 正确答案</div>
            <div class="text-danger">红色 = 错误答案</div>
          </div>
          <div class="margin-row" v-else>
            <div class="text-primary">答题结束后显示<br />正确答案</div>
          </div>
          <button type="button" :class="`btn margin-row ${ translate ? 'btn-primary' : 'btn-outline-primary' }`"
            @click="showTranslations()">
            翻译
          </button>
          <br />
          <button type="button"
            :class="`btn margin-row ${ flaggedQuestions.includes(currentIndex) ? 'btn-danger' : 'btn-outline-danger' }`"
            @click="flag()">
            标记
          </button>
        </div>
      </div>
      <div class="question-nav-container">
        <div class="question-nav">
          <button type="button" :class="`btn ${currentIndex === 0 ? 'btn-outline-secondary' : 'btn-outline-warning'}`"
            @click="back()" :disabled="currentIndex === 0">
            上一题
          </button>
          <button type="button"
            :class="`btn ${studyMode && currentIndex === questions.length - 1 ? 'btn-outline-secondary' : 'btn-outline-warning'}`"
            :disabled="studyMode && currentIndex === questions.length - 1" @click="next()">
            下一题
          </button>
        </div>
      </div>
    </div>
    <div class="mobile-only text-center">用电脑访问此网站可以试用本功能</div>
    <img class="mobile-only" alt="Exams" src="./assets/examshot.png" width="100%" />
    <div class="exam-intro margin-block fs-5">
      <a id="vocabulary-anchor"></a>
    </div>
  </section>

  <section id="vocabulary-section" class="container margin-section">
    <h2 class="display-6 text-center fw-light">词汇学习</h2>
    <div class="fs-4 text-center fw-light text-secondary">
      为考试学习打好基础。每个考试都有单独的词汇库！
    </div>
    <div id="vocabulary">
      <div class="d-flex justify-content-evenly margin-block">
        <button type="button" :class="`btn btn-lg btn-${section === 0 ? '' : 'outline-'}primary`"
          @click="gotoSection(0)">
          学习
        </button>
        <button type="button" :class="`btn btn-lg btn-${section === 1 ? '' : 'outline-'}danger`"
          @click="gotoSection(1)">
          发音
        </button>
        <button type="button" :class="`btn btn-lg btn-${section === 2 ? '' : 'outline-'}success`"
          @click="gotoSection(2)">
          词义
        </button>
        <button type="button" :class="`btn btn-lg btn-${section === 3 ? '' : 'outline-'}warning`"
          @click="gotoSection(3)">
          拼写
        </button>
      </div>
      <section v-if="section === 0" class="vocab-sub-sections">
        <h2 class="display-6 fw-light">{{vocabs[index].word}}</h2>
        <button type="button" class="btn btn-light" @click="playsound">
          <i class="bi bi-volume-up-fill"></i>
        </button>
        <h2 class="fw-light vocab-cn">{{vocabs[index].cn}}</h2>
        <div class="vocab-example-container margin-block">
          <div class="vocab-example">
            <div v-html="vocabs[index].question" class="fs-5"></div>
            <div v-html="vocabs[index].questionCn" class="fs-5"></div>
            <div v-html="vocabs[index].answer" class="fs-5 margin-row"></div>
            <div v-html="vocabs[index].answerCn" class="fs-5"></div>
          </div>
          <div class="question-nav-container margin-block">
            <div class="question-nav">
              <button type="button" :class="`btn btn-outline-${index === 0 ? 'secondary' : 'warning'}`" @click="back()"
                :disabled="index === 0">
                上一个
              </button>
              <button type="button" :class="`btn btn-outline-${index === vocabs.length - 1 ? 'secondary' : 'warning'}`"
                @click="next()" :disabled="index === vocabs.length - 1">
                下一个
              </button>
            </div>
          </div>
        </div>
      </section>
      <section v-if="section === 1 || section === 2" class="vocab-sub-sections">
        <template v-if="!this.finish">
          <h2 v-if="this.section === 2" class="display-6 fw-light">
            {{vocabs[index].word}}
          </h2>
          <button type="button" class="btn btn-light" @click="playsound">
            <i class="bi bi-volume-up-fill"></i>
          </button>
          <!-- <h2 v-if="this.section === 1" class="fw-light vocab-cn margin-row">{{vocabs[index].cn}}</h1> -->
          <div class="vocab-options margin-block">
            <div v-for="(opt, i) in options" @click="optClick(i)" class="vocab-option"
              :style="!opt.highlight ? '' : opt.correct ? 'background-color: rgb(150, 255, 150)' : 'background-color: rgb(255, 150, 150)'">
              {{`${i + 1}. ${section === 1 ? `${opt.text} - ${opt.cn}` :
              opt.cn}`}}
            </div>
          </div>
        </template>
        <template v-else>
          <button type="button" class="btn btn-primary margin-block" @click="restart()">
            重新开始
          </button>
        </template>
      </section>
      <section v-if="section === 3" class="vocab-sub-sections">
        <template v-if="!this.finish">
          <button type="button" class="btn btn-light" @click="playsound">
            <i class="bi bi-volume-up-fill"></i>
          </button>
          <h2 class="fw-light vocab-cn margin-row">{{vocabs[index].cn}}</h2>
          <div class="margin-block vocab-options">
            <input type="text"
              :class="`form-control vocab-input ${ inputError ? 'is-invalid' : ''} ${ inputPass ? 'is-valid' : '' }`"
              v-model="input" />
            <div class="input-hin-container">
              <div class="input-hint" v-if="inputError">{{inputHint}}</div>
            </div>
          </div>
        </template>
        <template v-else>
          <button type="button" class="btn btn-primary margin-block" @click="restart()">
            重新开始
          </button>
        </template>
      </section>
    </div>
    <div class="mobile-only text-center">用电脑访问此网站可以试用本功能</div>
    <img class="mobile-only" alt="Exams" src="./assets/vocabshot.png" width="100%" />
    <a id="service-anchor"></a>
  </section>

  <section id="progress-section" class="container margin-section">
    <h2 class="display-6 text-center fw-light">学习进度报告</h2>
    <div class="fs-4 text-center fw-light text-secondary">
      每一次的进步都会反映到学习进度条，与目标之间的距离了然于心！
    </div>
    <div class="progress margin-block" role="progressbar" aria-label="Animated striped example" aria-valuenow="10"
      aria-valuemin="0" aria-valuemax="100">
      <div id="prog-bar" class="progress-bar progress-bar-striped progress-bar-animated bg-warning">
        10%
      </div>
    </div>
  </section>

  <section id="service-section" class="container margin-section">
    <h2 class="display-6 text-center fw-light">服务和工具</h2>
    <div class="fs-4 text-center fw-light text-secondary">
      各种小工具为实际工作提供服务。购买任何一课之后免费解锁！
    </div>
    <div class="service-container margin-block">
      <div class="service-icon-container gray-text fs-5">
        <div class="service-icon" data-bs-toggle="tooltip" data-bs-placement="bottom"
          data-bs-title="只需输入时薪和工时，根据加州劳工法自动计算所需支付的工资（包括加班费。）">
          <img class="service-icon-img" draggable="false" alt="wageCal" src="./assets/wageCal.jpeg" />
          <div class="service-name">工资计算器</div>
        </div>
        <div class="service-icon" data-bs-toggle="tooltip" data-bs-placement="bottom"
          data-bs-title="测试您在所需的考试中，您的词汇量在什么程度。">
          <img class="service-icon-img" draggable="false" alt="vocabtest" src="./assets/vocabtest.jpeg" />
          <div class="service-name">词汇量测试</div>
        </div>
        <div class="service-icon" data-bs-toggle="tooltip" data-bs-placement="bottom"
          data-bs-title="输入双方信息和其他所需信息，自动生成一份完整的合同。包括：工程，雇佣，等等。">
          <img class="service-icon-img" draggable="false" alt="agrmtgen" src="./assets/agrmtgen.jpeg" />
          <div class="service-name">合同生成</div>
        </div>
        <div class="service-icon" data-bs-toggle="tooltip" data-bs-placement="bottom"
          data-bs-title="在全中文页面填写您的信息，之后自动填写到所需的CSLB英文原表格。包括：执照申请表，经验认证表，等等。">
          <img class="service-icon-img" draggable="false" alt="formHelper" src="./assets/formHelper.jpeg" />
          <div class="service-name">填表助手</div>
        </div>
        <div class="service-icon" data-bs-toggle="tooltip" data-bs-placement="bottom"
          data-bs-title="输入价格和项目大小来自动计算所需的沥青用料需求量。">
          <img class="service-icon-img" draggable="false" alt="asphaltCal" src="./assets/asphaltCal.jpeg" />
          <div class="service-name">沥青用料计算器</div>
        </div>
      </div>
    </div>
  </section>

  <section id="carousel-section" class="container margin-section">
    <h2 class="display-6 text-center fw-light">施工现场</h2>
    <div class="fs-4 text-center fw-light text-secondary"></div>
    <div id="carouselExampleIndicators" class="carousel slide margin-block" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
          aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
          aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
          aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6"
          aria-label="Slide 7"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7"
          aria-label="Slide 0"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img draggable="false" src="./assets/Web-01.png" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img draggable="false" src="./assets/Web-02.png" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img draggable="false" src="./assets/Web-03.png" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img draggable="false" src="./assets/Web-04.png" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img draggable="false" src="./assets/Web-05.png" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img draggable="false" src="./assets/Web-06.png" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img draggable="false" src="./assets/Web-07.png" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img draggable="false" src="./assets/Web-08.png" class="d-block w-100" alt="..." />
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>

  <footer class="margin-section">
    <div id="footer-content" class="container">
      <section class="text-center">
        <div class="h5 footer-title">联系我们</div>
        <div><img draggable="false" class="footer-qrcode" id="footer-qrcode-wechat" src="./assets/wechat.jpg" 
          alt="qrcode" width="180px" /></div>
        <div><img draggable="false" class="footer-qrcode" id="footer-qrcode-line" src="./assets/line.jpg" 
          alt="qrcode" width="180px" style="display: none;" /></div>
        <div id="phone-email-container">
          <div id="footer-email"></div>
          <div id="footer-phone" style="font-size: 1.2em;"></div>
        </div>
        <div class="btn-group" role="group">
          <input type="radio" class="btn-check" name="qrcode" id="wechat-radio" autocomplete="off" checked>
          <label class="btn btn-outline-success" for="wechat-radio">微信</label>
          <input type="radio" class="btn-check" name="qrcode" id="line-radio" autocomplete="off">
          <label class="btn btn-outline-success" for="line-radio">Line</label>
          <input type="radio" class="btn-check" name="qrcode" id="other-radio" autocomplete="off">
          <label class="btn btn-outline-success" for="other-radio">其他</label>
        </div>
      </section>
      <section class="text-center">
        <div class="h5 footer-title">合作伙伴</div>
      </section>
      <section id="sitemap" class="text-center">
        <div class="h5 footer-title">目录</div>
        <div class="foot-catelog">
          <a href="#" class="link-primary">主页</a>
        </div>
        <div class="foot-catelog">
          <a href="#" class="link-primary news-elements">动态</a>
        </div>
        <div class="foot-catelog">
          <a href="#course-anchor" class="link-primary">课程</a>
        </div>
        <div class="foot-catelog">
          <a href="#book-anchor" class="link-primary">教材</a>
        </div>
        <div class="foot-catelog">
          <a href="#exam-anchor" class="link-primary">试题</a>
        </div>
        <div class="foot-catelog">
          <a href="#vocabulary-anchor" class="link-primary">词汇</a>
        </div>
        <div class="foot-catelog">
          <a href="#service-anchor" class="link-primary">服务</a>
        </div>
      </section>
    </div>
    <div class="copyright">
      <p id="copyright-p">
        &copy; <span>2024 Flybull. All rights reserved.</span>
      </p>
    </div>
  </footer>

  <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
      <div class="toast-header">
        <img src="./assets/icon.ico" width="25px" class="rounded me-2" alt="..." />
        <strong class="me-auto">Flybull</strong>
        <small>新消息</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body" style="font-size: 1.2em">
        👋 欢迎来到飞牛🐮！新用户注册时输入
        <b>FB888</b> 推荐码即可获得50元优惠🥑！
        <div class="toast-download-text">
          <a href="javascript:void(0)" onclick="location.href='#downloads-anchor'">下载客户端</a>后可注册账户
        </div>
      </div>
    </div>
  </div>
  <script src="./scripts/footer.js"></script>
  <script src="./scripts/main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  <script src="./scripts/news.js"></script>
  <script src="./scripts/book.js"></script>
  <script src="./scripts/exam.js"></script>
  <script src="./scripts/vocab.js"></script>
</body>

</html>