@media (max-width: 992px) {
  body {
    padding: 0;
  }

  body header nav {
    display: none;
  }

  #mobile-header-text {
    display: block;
  }

  #header-right-container button {
    display: none;
  }

  #logo-img {
    height: 70px;
    width: auto;
  }

  #banner {
    margin-top: 90px;
    height: 100px;
  }

  #banner-container {
    display: none;
  }

  #banner-text-mobile {
    display: block;
  }

  #platforms-img {
    transform: translate(0, 0);
  }

  .margin-section {
    margin-top: 50px;
  }

  .margin-block {
    margin-top: 25px;
  }

  #classroom {
    height: fit-content;
    background: none;
    display: block;
    padding: 0;
    text-align: center;
    background-color: rgb(245, 245, 245);
    padding: 20px;
    border-radius: 10px;
  }

  .course-titles {
    font-size: 1.25em;
  }

  .left-and-right {
    display: block;
  }

  #book-cover-nav-container {
    display: none;
  }

  #book-cover-container {
    width: unset;
    display: block;
    max-width: 350px;
    text-align: center;
    margin: auto;
  }

  #book-covers {
    width: unset;
  }

  #exam {
    display: none;
  }

  #vocabulary {
    display: none;
  }

  #prog-bar {
    font-size: 0.6em;
  }

  .service-icon-container {
    justify-content: space-around;
  }

  .service-icon {
    width: 100px;
    height: 115px;
  }

  .service-name {
    font-size: 0.5em;
  }

  #sitemap {
    display: none;
  }

  .mobile-only {
    display: block;
  }

  #breadcrumb-title {
    display: none;
  }

  #neon-label {
    right: 10%;
  }
}

@media (max-width: 1400px) {
  #classroom {
    padding-left: 15px;
  }
}

@media (max-width: 1200px) {
  #classroom {
    padding-left: 10px;
    font-size: 0.8em;
  }
}

@media (max-width: 768px) {
  #logo-img {
    height: 55px;
    width: auto;
  }
}

@media (max-width: 575px) {
  #logo-img {
    height: 50px;
    width: auto;
  }

  .downloads-desktop {
    display: none;
  }

  header {
    position: inherit;
  }

  #header-container {
    justify-content: space-around;
  }

  #banner {
    margin-top: 0;
  }

  #liveToast-container {
    display: none;
  }
  
  #footer-content {
    display: block;
    padding-top: 10px;
  }

  footer section {
    width: unset;
  }

  #downloads-mobile {
    display: block;
  }

  #neon-label {
    scale: 0.5;
    right : 0;
  }

  .google-map {
    max-width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  footer section:nth-child(2) {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 15px;
    box-sizing: border-box;
  }

  .google-map {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
  }
}
